*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{

display:flex;
justify-content:center;
align-items:center;
height:100vh;

background:linear-gradient(135deg,#4facfe,#00f2fe);

}

.login-container{

background:white;

padding:40px;

width:350px;

border-radius:15px;

box-shadow:0 15px 30px rgba(0,0,0,.2);

text-align:center;

}

.login-container h1{

margin-bottom:10px;

color:#333;

}

.login-container p{

margin-bottom:20px;

color:#666;

}

.input-group{

text-align:left;

margin-bottom:20px;

}

.input-group label{

display:block;

margin-bottom:8px;

font-weight:bold;

}

input{

width:100%;

padding:12px;

border:1px solid #ccc;

border-radius:8px;

}

button{

width:100%;

padding:12px;

border:none;

border-radius:8px;

background:#2196f3;

color:white;

font-size:16px;

cursor:pointer;

transition:.3s;

}

button:hover{

background:#1976d2;

}

#error{

margin-top:15px;

color:red;

font-weight:bold;

}
/* Dashboard */

header{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px;

background:#1565c0;

color:white;

}

.search-box{

margin:30px auto;

display:flex;

justify-content:center;

gap:10px;

}

.search-box input{

width:300px;

}

#currentWeather{

margin:20px auto;

width:90%;

max-width:500px;

background:white;

padding:20px;

border-radius:15px;

box-shadow:0 10px 20px rgba(0,0,0,.2);

}

#forecast{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(180px,1fr));

gap:20px;

padding:20px;

}

.forecast-card{

background:white;

padding:20px;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,.2);

text-align:center;

}

/* Backgrounds */

.sunny{

background:linear-gradient(to right,#fbc531,#f6e58d);

}

.cloudy{

background:linear-gradient(to right,#95afc0,#dff9fb);

}

.rainy{

background:linear-gradient(to right,#2d3436,#636e72);

color:white;

}

.snow{

background:linear-gradient(to right,#dfe6e9,#ffffff);

}